@font-face {
  font-family: 'Helvetica';
  src: url('./Helvetica\ Regular.otf') format('otf');
  font-weight: 400;
  font-style:light;
  
}



@font-face {
  font-family: 'Helvetica1';
  src: url('./Helvetica.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
 
}



@font-face {
  font-family: 'Inter';
  src: 
   
    url('./Inter_18pt-Light.ttf') format('truetype');
  font-weight: 400;          /* regular = 400 */
          /* not italic */
         /* prevents invisible text while loading */
}




@font-face {
  font-family: 'Inter700';
  src: 
   
    url('./Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: bold;         /* bold = 700 */
         
}


@font-face {
  font-family: 'Aeonik Trial';
  src: url(../fonts/aeoniktrial-regular.otf) format('truetype');
  font-weight: 400;
  font-style: normal;
}